# Backend API URL (no trailing slash)
NEXT_PUBLIC_API_URL=https://social-web-backend-9546.onrender.com/api/v1

# Socket.io server URL
NEXT_PUBLIC_SOCKET_URL=https://social-web-backend-9546.onrender.com/
